@import url('https://fonts.googleapis.com/css?family=Abel');

body{
	font-family: 'Abel', sans-serif;
	overflow-x: hidden;
}
.hr-white{
	width: 85%;
	border: .9px solid #0e6aa8;
	margin-top: 2%;
	margin-bottom: 2%;
}


.hr-gray{
	width: 100%;
	border: .5px solid #ddd;

}

.bg-dark{
  background: url(../img/bg-night.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.upcase{
	text-transform: uppercase;
}
.bg-black{
	background-color: #2981bc !important;
}
.bg-img{
  background: url(../img/bg-night.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.bg-darkblue{
	background-color: #0e6aa8;
}


.c-white{
	color: white;
}
.c-black{
	color: black !important;
}
.c-blackmenu{
	color: #666 !important;
}
.c-blackmenu:hover{
	color: #222 !important;
}


.margintop5{
	margin-top: 5%;
}
.ptopup{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopup:hover{
	background-color: #1174b7;
}
.ptopup2{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopupother{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopupother:hover{
	background-color: #1174b7;
}
.p-left{
	margin-left: 2%;
}
.m-left5{
	padding-right: 7.3%;
}


.f-size15{
	font-size: 15px;
}
.f-size20{
	font-size: 20px;
}
.f-size25{
	font-size: 25px;
}
.f-size30{
	font-size: 30px;
}
.f-size45{
	font-size: 45px;
}
.f-size105{
	font-size: 50px;
}


.f-bold{
	font-weight: bold;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}

.footer{
	margin-top: 5%;
	color: black;
}


@media only screen and (max-width: 600px) {

	.hr-white{
	  	visibility: hidden;
	}
	.hidden-xs{
		visibility: hidden;
	}
	.text-center-xs{
		text-align: center;
	}
	.f-left{
		float: none;
	}
	.col-md-2{
		text-align: center !important;
	}
	.ptopup{
	 	display: none;
	}
	.ptopupother{
	 	display: none;
	}
 
}

.provincias{
	color: white;
	font-size: 50px;
	padding: 25px;
}
