@import url('https://fonts.googleapis.com/css?family=Abel');

body{
	font-family: 'Abel', sans-serif;
	overflow-x: hidden;
}
.hr-white{
	width: 85%;
	border: .9px solid white;
	margin-top: 2%;
	margin-bottom: 2%;
}
.hr-gray{
	width: 100%;
	border: .5px solid #ddd;

}
.upcase{
	text-transform: uppercase;
}

.bg-img-day{
	background: #457fca;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-img-mid-night{
background: #5C258D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-img-night{
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-darkblue{
	background-color: #1a3d60;
}


.c-white{
	color: white;
}
.c-black{
	color: black !important;
}
.c-blackmenu{
	color: #666 !important;
}
.c-blackmenu:hover{
	color: #222 !important;
}


.margintop5{
	margin-top: 5%;
}
.ptopup{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopup:hover{
	background-color: #1a3d60;
}
.ptopup2{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopupother{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopupother:hover{
	background-color: #1a3d60;
}
.p-left{
	margin-left: 2%;
}
.m-left5{
	padding-right: 7.3%;
}
.f-size15{
	font-size: 15px;
}
.f-size17{
	font-size: 17px;
}
.f-size20{
	font-size: 20px;
}
.f-size25{
	font-size: 25px;
}
.f-size30{
	font-size: 30px;
}
.f-size45{
	font-size: 45px;
}
.f-size50{
	font-size: 50px;
}
.f-size105{
	font-size: 105px;
}

.margin-5{
	margin: 5%;
}
.f-bold{
	font-weight: bold;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}

.footer{
	margin-top: 5%;
	color: black;
}


@media only screen and (max-width: 600px) {

	.hr-white{
	  	visibility: hidden;
	}
	.hidden-xs{
		visibility: hidden;
	}
	.text-center-xs{
		text-align: center;
	}
	.f-left{
		float: none;
	}
	.col-md-2{
		text-align: center !important;
	}
	.ptopup{
	 	display: none;
	}
	.ptopupother{
	 	display: none;
	}
 
}

.provincias{
	color: white;
	font-size: 50px;
	padding: 25px;
}
