@import url('https://fonts.googleapis.com/css?family=Abel');

body{
	font-family: 'Abel', sans-serif;
	background-color: white;
	overflow-x: hidden;
	width: 100%;
}

.up-content{
	background-color: red;
	text-align: center;
}
.down-content{
	text-align: center;
}
.navbar-search{
	background-color: #2c568c;
}
.navbar-brand{
	padding-left: 1%;
	color: white;
	font-size: 24px;
}
.navbar-brand:hover{
	color: white;
}
.search{
	color: white;
}
.search:hover{
	color: white;
}
.hr-white{
	width: 85%;
	border: .9px solid white;
	margin-top: 2%;
	margin-bottom: 2%;
}
.hr-gray{
	width: 100%;
	border: .5px solid #ddd;

}
.upcase{
	text-transform: uppercase;
}

.bg-darkblue{
	background-color: #1a3d60;
}


.c-white{
	color: white;
}
.c-black{
	color: black !important;
}
.c-blackmenu{
	color: #666 !important;
}
.c-blackmenu:hover{
	color: #222 !important;
}


.margintop5{
	margin-top: 5%;
}
.ptopup{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopup:hover{
	background-color: #1a3d60;
}
.ptopup2{
	padding-top: 2%;
	padding-bottom: 2%;
}
.ptopupother{
	padding-top: 2%;
	padding-bottom: 2%;
}
.p-left{
	margin-left: 5%;
}
.m-left5{
	padding-right: 7.3%;
}
.f-size15{
	font-size: 15px;
}
.f-size17{
	font-size: 17px;
}
.f-size20{
	font-size: 20px;
}
.f-size25{
	font-size: 25px;
}
.f-size30{
	font-size: 30px;
}
.f-size45{
	font-size: 45px;
}
.f-size50{
	font-size: 50px;
}
.f-size95{
	font-size: 90px;
}

.margin-5{
	margin: 5%;
}
.f-bold{
	font-weight: bold;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.no-style{
	font-size: 18px;
}
.footer{
	margin-top: 5%;
	color: black;
}
.btn-outline-success{
	border-color: white;
	background-color: transparent !important;
	color: white;
}
.btn-outline-success:hover{

	border-color: #999999;
	color: #999999;
}
.in-left-content{
	padding-top: 5%;
	padding-bottom: 5%;
}

@media only screen and (max-width: 1024px) {
	body{
		overflow-y: visible;
	}

	.hr-white{
	  	visibility: hidden;
	}
	.hidden-xs{
		visibility: hidden;
	}
	.text-center-xs{
		text-align: center;
	}
	.f-left{
		float: none;
	}
	.col-md-2{
		text-align: center !important;
	}
	.ptopup{
	 	display: none;
	}
	.ptopupother{
	 	display: none;
	}
	.navbar{
		text-align: center;
	}
	.center-btn{
		width: 100%;
		text-align: center;
	}
 	.left-content{
 		height: auto;
 	}
}